
venv/
.venv/
env/
*venv/

__pycache__/
*.pyc
*.pyo
*.pyd
.Python


.eggs/
dist/
build/
*.egg-info/


static/uploads/*


.DS_Store
Thumbs.db
desktop.ini
._*


.vscode/


# Esto le dice a Git: "Ignora todo en 'uploads', EXCEPTO el archivo .gitkeep".
!static/uploads/.gitkeep