<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <style>
          .container{
               margin: 0;
               padding: 0;
               width: 100%;
               height: 100vh;
               background-color: #f1f1bc;
               color: black;
               text-align: center;
          }
          .containerHeader{
               display: flex;
               flex-direction: column;
               align-items: center;
          }
     </style>
     <title>Práctica 2 - Visión por Computador / Video Streaming</title>
</head>
<body class = "container">
     <div class="containerHeader">
          <h1>Resultado Práctica 2 (Cuadrícula 2x2)</h1>
     </div>
     /*pedimos a Flask la "imagen" que está en la ruta 
     video_stream, y nuestra app.py le responde enviándole un video sin fin*/
     <img src="{{ url_for('video_stream') }}">
</body>
</html>